<aside class="side-nav-container">
    <div class="user-profile">
        <div class="user-profile__img-container">
            <img src="assets/user-profile.jpg" alt="User" width="100%">
        </div>
        <p class="user-profile__name">John Doe</p>
        <p class="user-profile__email">emailaddress@email.com</p>
    </div>

    <ul class="side-nav">
        <li class="side-nav__items">Dashboard</li>
        <li class="side-nav__items active">Site Details</li>
        <li class="side-nav__items">Migrations</li>
        <li class="side-nav__items">Backups</li>
        <li class="side-nav__items">Collaborations</li>
        <li class="side-nav__items">Support Tickets</li>
        <li class="side-nav__items">Open New Ticket</li>
    </ul>
</aside>