<aside class="side-nav-container">
    <div class="user-profile">
        <div class="user-profile__img-container">
            <img src="assets/user-profile.jpg" alt="User" width="100%">
        </div>
        <p class="user-profile__name">John Doe</p>
        <p class="user-profile__email">emailaddress@email.com</p>
    </div>

    <ul class="side-nav">
        <li class="side-nav__items">
            <img src="assets/pie-chart.svg" alt="Dashboard" class="side-nav__items-icon">
            Dashboard
        </li>
        <li class="side-nav__items active">
            <img src="assets/credit-card.svg" alt="Dashboard" class="side-nav__items-icon">
            Site Details
        </li>
        <li class="side-nav__items">
            <img src="assets/database.svg" alt="Dashboard" class="side-nav__items-icon">
            Migrations
        </li>
        <li class="side-nav__items">
            <img src="assets/file.svg" alt="Dashboard" class="side-nav__items-icon">
            Backups
        </li>
        <li class="side-nav__items">
            <img src="assets/users.svg" alt="Dashboard" class="side-nav__items-icon">
            Collaborations
        </li>
        <li class="side-nav__items">
            <img src="assets/tablet.svg" alt="Dashboard" class="side-nav__items-icon">
            Support Tickets
        </li>
        <li class="side-nav__items">
            <img src="assets/plus-square.svg" alt="Dashboard" class="side-nav__items-icon">
            Open New Ticket
        </li>
    </ul>
</aside>