@import 'src/_variables.scss';

.badge {
    padding: 5px;
    border-radius: 4px;
    width: 60px;
    text-align: center;
    font-size: 12px;
}

.active {
    background-color: $light-green;
    color: $primary-green;
}

.inactive, .add-on {
    background-color: $light-orange;
    color: $primary-orange;
}

.staging {
    background-color: $light-purple;
    color: $primary-purple;
}