$primary-blue: #5b7cfd;
$primary-green: #33cc86;
$primary-red: #ff7f57;
$primary-orange: #ffae33;
$primary-yellow: #ffcf27;
$primary-light-yellow: #fbe691;

$primary-blue-active: #4d6ff5;

$light-blue: #dee5ff;
$light-green: #cdf5f4;
$light-pink: #ffe5dd;
$light-blue-2: #d8e0fe;

// Light colors
$color-1: #232d42;
$color-2: #8a92a6;
$color-3: #737b8b;
$color-4: #e7eef7;
$color-5: #e3e5e8;
$color-6: #929292;

$color-white: #FFF;
$color-black: #000;

$color-border: #e9e9e9;
$color-light-font: #fbfbfb;
$color-dark-font: #484848;