@import 'src/_variables.scss';

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 40px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal-body {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 60%;
    border-radius: 4px;
}

.close {
    font-size: 26px;
    position: absolute;
    top: 8px;
    right: 20px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 15px 30px;
    border-bottom: 1px solid $color-border;
    position: relative;

    &__title {
        font-size: 20px;
    }
}

.modal-content {
    padding: 15px 30px;
    height: 300px;
    overflow: auto;
}

.form-container {
    display: grid;
    grid-template-columns: 300px 300px;
    align-content: flex-start;
    grid-gap: 15px;
    grid-column-gap: 50px;
}

.form-element{
    &__label{
      display: block;
      margin-bottom: 5px;
      width: 200px;
      font-weight: 500;
    }
    
    &__error{
        margin-top: .25rem;
        font-size: 12px;
        color: $primary-red;
    }
  
    &__input-container {
      position: relative;
      width: 300px;
    }
  
    input{
        width: 280px;
        padding: 5px;
    } 
}

.is-invalid {
    border: 1px solid $primary-red;
    border-radius: 2px;
}

.modal-footer{
    padding: 20px 30px;
    border-top: 1px solid $color-2;
    text-align: end;
}

.close-btn {
    padding: 15px 40px;;
    margin-right: 10px;
    background-color: $color-white;
    border: 1px solid $color-2;
    border-radius: 4px;
}

.save-btn {
    padding: 15px 40px;;
    background-color: $primary-blue;
    color: $color-light-font;
    border: 1px solid $primary-blue;
    border-radius: 4px;
}

.add-more-btn {
    padding: 10px 20px;
    background-color: $color-white;
    border: 1px solid $color-dark-font;
    border-radius: 4px;
    float: right;
}

.multi-input {
    margin-bottom: 10px;
    position: relative;
}

.delete-icon {
    top: -8px;
    right: -18px;
}