@import 'src/_variables.scss';

.RadialProgress {
  --hue: 220;
  --holesize: 62%;
  
  block-size: 50px;
  inline-size: 50px;
  min-inline-size: 60px;
  min-block-size: 60px;
  display: grid;
  place-items: center;
  position: relative;
  color: $primary-blue;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    background: conic-gradient(
      $primary-blue var(--progress, 0%),
      $color-5 var(--progress, 0%) 100%
    );
    
    mask-image: radial-gradient(
      transparent var(--holesize),
      black calc(var(--holesize) + 0.5px)
    );
  }
}